Import the libraries required

In [1]:
import pandas as pd
import numpy as np
import requests # library to handle requests
from bs4 import BeautifulSoup as BS

Using Beautiful Soup to Scrap the website and reading information in table to variable t. Information about Postal_code, Borough and Neighbourhoold is recursively stored in respective list

In [4]:
#toronto=pd.read_csv('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').json()
toronto_site = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
toronto_data=BS(toronto_site,'html.parser')
t=toronto_data.find('table').find_all('tr')
Postal_Code=[]
Borough=[]
Neighborhood=[]
#toronto_data
for i in t:
    #j.append(i.text)
    Postal_Code.append(i.text.splitlines()[1])
    Borough.append(i.text.splitlines()[3])
    Neighborhood.append(i.text.splitlines()[5])

Converting List in Pandas Dataframe

In [5]:
Toronto_Dataframe=pd.DataFrame({'PostalCode':Postal_Code,'borough':Borough,'neighborhood':Neighborhood})

Removing Non assigned borough

In [7]:

Clean_Dataframe=Toronto_Dataframe[Toronto_Dataframe['borough']!='Not assigned'].reset_index(drop=True)
Clean_Dataframe.head()

    PostalCode           borough                      neighborhood
0  Postal Code           Borough                      Neighborhood
1          M3A        North York                         Parkwoods
2          M4A        North York                  Victoria Village
3          M5A  Downtown Toronto         Regent Park, Harbourfront
4          M6A        North York  Lawrence Manor, Lawrence Heights

Joining neighbourhood with same Postalcode

In [8]:
d=Clean_Dataframe.groupby(['PostalCode','borough'])['neighborhood'].apply(lambda x: ','.join(x)).reset_index()

Assigning Not assigned neighbourhood with name of borough

In [42]:
for ind in d.index:
    if d['neighborhood'][ind]=='Not assigned':
        d['neighborhood'][ind]=d['borough'][ind]
d.head(-5)

   PostalCode      borough                                       neighborhood
0         M1B  Scarborough                                     Malvern, Rouge
1         M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough                  Guildwood, Morningside, West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
..        ...          ...                                                ...
94        M9B    Etobicoke  West Deane Park, Princess Gardens, Martin Grov...
95        M9C    Etobicoke  Eringate, Bloordale Gardens, Old Burnhamthorpe...
96        M9L   North York                                      Humber Summit
97        M9M   North York                                   Humberlea, Emery
98        M9N         York                                             Weston

[99 rows x 3 columns]

In [10]:
   
    d.shape

(104, 3)

In [41]:
file1=pd.read_csv('Geospatial_Coordinates.csv')
file1

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [45]:
d['Latitude']=file1['Latitude']
d['Longitude']=file1['Longitude']

In [46]:
d.head()

,PostalCode,borough,neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476